body {
    background-image: url('erie.jpg');
    background-size: cover;
}

#otherpage {
    background-image: none;
    background-color: none;
}

p {
    width: 10px;
    text-align: center;
    line-height: 25px;
    text-indent: 25px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
